
<div class="card mx-5" style="width: 20rem;">

        <div class="card-body" *ngIf="profiles.length > 0">
                <h3>Child Profiles:</h3> 
                <ul *ngFor="let profile of profiles; let i = index">
                    <li>
                        <p class="card-text"><b>Name: </b>{{profile.name}}</p>
                        <p class="card-text"><b>Date of Birth: </b>{{profile.dob}}</p>
                        <p class="card-text"><b>Subjects: </b></p>
                        <ul *ngFor="let subj of profile.subjects">
                            <li class="card-text">{{subj}}</li>    
                        </ul>
                        <p class="card-text"><b>Grade: </b> {{profile.grade}}</p>
                    </li>
                </ul>
        </div>
  </div>